{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-6 mt-5">

            <h2>Ajouter un produit</h2>

            {{ form_start(form) }}

                {{ include(':product:form.html.twig') }}

                <div class="row">
                    <a href="{{ path('homepage') }}" class="btn btn-secondary mt-5 mr-2">Retour</a>
                    <button type="submit" class="btn btn-info mt-5">Ajouter</button>
                </div>


            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
